<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mb-0 h1">Admin Dashboard</a>
  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/admin">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="<%= admin_merchants_path %>">Merchants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= admin_invoices_path %>">Invoices</a>
    </li>
  </ul>
</nav>

<h4 style="text-align:center"><%= @merchant.name %></h4>
<%= form_with model: [:admin, @merchant], local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Save' %>
<% end %>
