<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1">Admin Dashboard</a>
    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="<%= admin_merchants_path %>">Merchants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= admin_invoices_path %>">Invoices</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container">
  <%= link_to "New Merchant", new_admin_merchant_path %><br><br>
</div>
<div class="container">
  <div class="row">
    <div class="col" id="enabled-merchants">
      <h4>Enabled Merchants:</h4><hr>
      <% @enabled_merchants.each do |merchant| %>
        <div id="admin-merchant-<%= merchant.id %>">
          <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
          <%= button_to "Disable", admin_merchant_path(merchant.id), method: :patch, local: true, params: {"merchant" => {status: "disabled"}} %><br>
        </div>
      <% end %>
    </div>
    <div class="col" id="top-merchants">
      <h4>Top Merchants</h4><hr>
    </div>
  </div>
    <div id="disabled-merchants">
      <h4>Disabled Merchants:</h4><hr>
      <% @disabled_merchants.each do |merchant| %>
        <div id="admin-merchant-<%= merchant.id %>">
          <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
          <%= button_to "Enable", admin_merchant_path(merchant.id), method: :patch, local: true, params: {"merchant" => {status: "enabled"}} %><br>
        </div>
      <% end %>
    </div>
</div>


<div id="top-five-merchants">
<h3>Top Five Merchants By Revenue</h3>
<% @merchants.top_five_merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <p><%= link_to merchant.name, admin_merchant_path(merchant.id) %>
      |  Total Revenue: $<%= merchant.revenue_by_merchant %></p>
  </div>
<% end %>
</div>
