<h1><%= @merchant.name %> Discounts</h1>

<% @merchant.discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <% link_to "Discount #{discount.id}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %>
    Discount amount: <%= (discount.amount * 100).to_i %>% off of <%= discount.threshold %> or more items
    <button><%= link_to "Delete discount", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %></button>
  </div>
<% end %>

<div id="upcoming-holidays">
  <h2>Upcoming Holidays</h2>

  <% @facade.holidays.first(3).each do |holiday| %>
    <%= holiday.date %>:
    <%= holiday.name %><br>
  <% end %>
</div>

<h2><%= link_to "Add new discount", "/merchants/#{@merchant.id}/discounts/new" %></h2>
