<h1>Edit Discount</h1>

<%= form_with model: @discount, url: "/merchants/#{@merchant.id}/discounts/#{@discount.id}", method: :patch, local: true do |f| %>
  <%= f.label "Percent off:" %>
  <%= f.number_field :amount, min: 5, max: 95, step: 1 %>
  <%= f.label "Min item qty:" %>
  <%= f.number_field :threshold %>
  <%= f.submit "Save changes" %>
<% end %>
