<h1>New Discount</h1>

<%= form_with model: [ @merchant, @merchant.discounts.build ], local: true do |f| %>
  <%= f.label "Percent off:" %>
  <%= f.number_field :amount, min: 0.05, max: 0.95, step: 0.05 %>
  <%= f.label "Min item qty:" %>
  <%= f.number_field :threshold %>
  <%= f.submit "Submit" %>
<% end %>
